<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cat Adoption</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<header>
  <img class="logo" src=
          "/images/cat_logo.png"
       alt="placeholder">
  <p class="user" id="username-display">Guest</p>
  <nav>
    <ul class="nav_links">
      <li>
        <a th:href="@{/main}">Home</a>
      </li>
      <li>
        <a th:href="@{/}">About</a>
      </li>
      <li>
        <a th:href="@{/register}">Register</a>
      </li>
      <li>
        <a th:href="@{/login}">Login</a>
      </li>
    </ul>
  </nav>
  <button class="add_cat">Add a Cat</button>
</header>


<div class="addcat-container">

  <form name="add_cat" th:action="@{/api/cats/add}" method="post" >
    <input type="text" name="name" placeholder="Cat Name" required="required"/>

    <select id="sex" name="sex" required="required">
      <option value="">Select Gender</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>

    <input type="number" name="age" placeholder="Age"  required="required"/>
    <input type="text" name="breed" placeholder="Breed" required="required"/>
    <input type="text" name="imageUrl" placeholder="Cat Image URL" required="required"/>
    <input type="text" name="location" placeholder="City" required="required"/>
    <textarea id="description" name="description"
              rows="4" cols="50" placeholder="Describe the cat (max. 500 characters)"></textarea>
    <button type="submit">
      Post!
    </button>
  </form>
</div>






<script src="/js/script.js"></script>
</body>
</html>