<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Adoption</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header>

        <img class="logo" src=
                "/images/cat_logo.png"
             alt="placeholder">
        <p class="user" id="username-display">Guest</p>
        <nav>
            <ul class="nav_links">
                <li>
                    <a th:href="@{/main}">Home</a>
                </li>
                <li>
                    <a th:href="@{/}">About</a>
                </li>
                <li>
                    <a th:href="@{/myposts}">My Posts</a>
                </li>
                <li>
                    <a th:href="@{/register}">Register</a>
                </li>
                <li>
                    <a th:href="@{/login}">Login</a>
                </li>
                <li id="logout-link" style="display: none">
                    <a th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </nav>
        <button class="add_cat"><a th:href="@{/addCat}">Add a Cat</a></button>
    </header>


<h1 class="posts">Posts</h1>
    <ul id="postList">

    </ul>





    <script src="/js/script.js"></script>
</body>
</html>