<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adopt a Cat </title>
  <link rel="stylesheet" type="text/css" href="/css/landing_page.css">
</head>
<body>

<h1>
    Adopt a Cat!
</h1>

<div class="cat">
  <div class="ear ear--left"></div>
  <div class="ear ear--right"></div>
  <div class="face">
    <div class="eye eye--left">
      <div class="eye-pupil"></div>
    </div>
    <div class="eye eye--right">
      <div class="eye-pupil"></div>
    </div>
    <div class="muzzle"></div>
  </div>
</div>

<p class="main_page"><a th:href="@{/main}">Go to the main page</a></p>


<footer>

            <a href="https://github.com/mich-wierzch">
                <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png">
            </a>

            <a href="https://www.linkedin.com/in/micha%C5%82-wierzchowiak-7b785a221/">
                <img src="https://static-00.iconduck.com/assets.00/linkedin-icon-2048x2048-ya5g47j2.png">
            </a>

    <p>© 2023 AdoptACat Michał Wierzchowiak | All rights reserved.</p></p>
</footer>



</body>
</html>