<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cat Adoption</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<header>
  <img class="logo" src=
          "/images/cat_logo.png"
       alt="placeholder">
  <p class="user" id="username-display">Guest</p>
  <nav>
    <ul class="nav_links">
      <li>
        <a th:href="@{/main}">Home</a>
      </li>
      <li>
        <a th:href="@{/}">About</a>
      </li>
      <li>
        <a th:href="@{/myposts}">My Posts</a>
      </li>
      <li>
        <a th:href="@{/register}">Register</a>
      </li>
      <li>
        <a th:href="@{/login}">Login</a>
      </li>
      <li id="logout-link" style="display: none">
        <a th:href="@{/logout}">Logout</a>
      </li>
    </ul>
  </nav>
  <button class="add_cat"><a th:href="@{/addCat}">Add a Cat</a></button>
</header>


<div class="registration-container">

  <form name="rgstr" th:action="@{/api/user/register}" method="post" >
    <input type="text" name="username" placeholder="Username"
           required="required" pattern=".{6,}" title ="Login must have at least 6 characters"/>
    <input type="email" name="email" placeholder="Email Address" required="required"/>
    <input type="password" name="password" placeholder="Password"  required="required"
           pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
           title="Must contain at least one number and one uppercase and lowercase
            letter, and at least 8 or more characters" />
    <input type="text" name="firstName" placeholder="First Name" required="required"/>
    <input type="text" name="lastName" placeholder="Last Name" required="required"/>
    <input type="text" name="mobile" placeholder="Mobile Number" required="required"/>
    <button type="submit">
      Register
    </button>
  </form>
</div>






<script src="/js/script.js"></script>
</body>
</html>